<h2>News Items</h2>
<div class="pull-right">
  <%= link_to 'Create News Item', new_news_path, class: 'btn btn-success', remote: true %>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Posted by</th>
    <th>Posted on</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%- @news_set.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.user.display_name %></td>
        <td><%= news.created_at.strftime('%d/%m/%Y') %></td>
        <td>
          <%= link_to 'Edit', edit_news_path(news), class: 'btn btn-default btn-xs', remote: true  %> |
          <%= link_to 'Delete', news_path(news), class: 'btn btn-danger btn-xs', data: {confirm: 'Are you sure you want to delete this news?'}, method: :delete, remote: true  %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
